@media screen and (min-width: 220px) and (max-width: 990px) {
    .thumb-grid-flex-cont3 { display: -webkit-inline-box;}
    .day-model-widget .modal-dialog {
      width: 88vw;
      margin: 14px auto;
    }
    .timing-box .animate-number {
      font-size: 20px !important;
    }
    .funfact h5 {
      font-size: 16px !important;
    }
    .mob-break1 {
      display: block !important;
    }
    .logo-box {
      padding: 3px !important;
    }
    .timing-box {
      margin-bottom: 10px;
    }
    .grid-container {
      margin-left: 0;
      margin-right: 0;
    }
    .logo-grid-card-container {
      width: 100%;
      margin: 30px 0;
    }
    .logo-grid-flex-cont3 {
      display: block;
      width: 100%;
    }
    .branch-info {
      padding: 15px;
    }
    .map-info {
      padding: 15px;
    }
    .classroom-info-box .icon {
      width: inherit !important;
    }
    .dash-main-box .top-btn .btn-update-img {
      padding: 6px 7px !important;
      font-size: 11px !important;
    }
    .dash-main-box .top-btn .btn-blue {
      padding: 6px 7px !important;
      font-size: 11px !important;
    }
    .input-group.pull-right {
      float: inherit;
    }
    .head-title {
      text-align: center;
    }
    .w-title {
      font-size: 16px !important;
    }
    .step-tab-panel {
      padding: 15px 15px 0px;
    }
    .pac-price {
      color: #d72a22;
    }
    .PP-box-info .form-group {
      margin-bottom: 20px;
    }
    .pp-scroll {
      overflow-x: hidden;
      min-height: 265px !important;
      max-height: 265px !important;
    }
    .pac-price strike {
      margin-right: 10px !important;
      color: #333 !important;
    }
    .checkout .main-box .check-details .card-info h2 {
      font-size: 18px !important;
    }
    .search-input {
      z-index: inherit !important;
    }
    .lt-news-head .btn {
      z-index: inherit !important;
    }
    .classroom-dash-box .content-part .info {
      min-height: inherit !important;
    }
    .classroom-dash-box .content-part .info .ftr-btm {
      position: inherit !important;
    }
    .row-eq-height .branch-box {
      min-height: inherit;
      max-height: inherit;
      margin-bottom: 20px;
    }
    .row-eq-height .branch-box:last-child {
      margin-bottom: 0;
    }
    .news-panel-info .disc img {
      width: 100%;
      margin-bottom: 20px;
      min-height: 200px;
      max-height: 200px;
    }
    .input-group {
      width: 70%;
      margin: 15px auto auto !important;
    }
    .news-panel-info .disc > h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 18px !important;
    }
    .PP-box-info {
      padding: 15px 5px 15px 15px;
    }
    .fltr-row-3clmn > .col,
    .fltr-row-3clmn > [class*="col-"] {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    .container .title {
      font-size: 1.5rem;
    }
    .service-card .rt-img .play-btn {
      width: 60px;
      height: 60px;
    }
    .service-card .rt-img .play-btn .play-cicle {
      margin-top: 6px;
      width: 45px;
      height: 45px;
      line-height: 45px;
      font-size: 1.1rem;
    }
    .top-slider-img {
      min-height: 200px;
      max-height: 200px;
      object-fit: cover;
    }
    .footer-wrapper4 .column:first-child {
      width: 100% !important;
    }
    .order-info {
      display: flex;
      flex-direction: column;
    }
    .order-info > .up {
      order: 1 !important;
    }
    .order-info > .down {
      order: 2 !important;
    }
    .service-card-container {
      width: 90%;
    }
    .service-card {
      margin-bottom: 40px;
      margin-top: 5px;
      border-radius: 10px;
    }
    .service-card:last-child {
      margin-bottom: 0;
    }
    .service-card .title-heading {
      line-height: 26px;
      font-size: 1.1rem;
      margin-top: 0;
    }
    .service-card ul li {
      font-size: 0.9rem;
      line-height: 26px;
    }
    .service-card .crd-disc p {
      font-size: 0.9rem;
      line-height: 22px;
    }
    .view-btn a {
      font-size: 0.92rem;
    }
    .service-card .crd-disc {
      padding: 20px;
      border-radius: 10px;
    }
    .service-card .rt-img img {
      border-radius: 10px;
      object-fit: contain;
    }
    .service-card .rt-img {
      width: fit-content !important;
      margin: 10px auto;
      float: none;
    }
    .service-card .lt-info {
      width: 100%;
      padding: 0;
      margin-top: 2px;
      height: 100%;
    }
    .service-card ul {
      margin: 20px 0 0 !important;
    }
    .card-container {
      margin-left: 0;
      margin-right: 0;
      overflow-x: scroll;
    }
    .card-item-3 {
      width: 270px !important;
      margin: 7px 10px 0;
      padding: 0 5px;
    }
    .lt-post-img .img-text {
      min-height: 240px;
      max-height: 240px;
    }
    .lt-post-img .img-area img {
      min-height: 170px;
      max-height: 170px;
    }
    .footer-wrapper4 .column {
      width: 100% !important;
      margin-right: 0;
    }
    .footer ul {
      margin-bottom: 20px;
    }
    .ft-line {
      margin: 0px 10px 20px 10px;
    }
    .footer .btm-info ul {
      margin-top: 20px;
    }
    .footer .btm-info ul li {
      text-align: left;
    }
    .terms {
      text-align: left;
      margin-bottom: 20px;
    }
    .img-tools {
      margin-bottom: 30px;
    }
    .top-info {
      text-align: left;
    }
    .web span a {
      margin-bottom: 10px;
    }
    .announcement-bar ul li {
      margin-bottom: 2px !important;
      margin-top: 2px !important;
      display: inherit !important;
      text-align: left;
    }
    .img-f-full {
      min-height: inherit;
    }
    .evnt-video {
      padding: 15px;
      margin-top: 0;
      margin-bottom: 40px;
    }
    .events-form-box {
      padding: 20px;
    }
    .sub-events-form-box {
      padding: 20px;
    }
    .timeslot-box {
      padding: 20px;
      margin-bottom: 25px;
    }
    .qury-form-row .form-group {
      margin-bottom: 15px !important;
      width: 100%;
    }
    .mdl-bg {
      background-color: #fff !important;
    }
    .branch-box h3 {
      font-size: 16px !important;
    }
    .scs-modal .modal-body .user-info {
      margin: 20px 0 !important;
      text-align: center;
    }
    h3 {
      font-size: 20px !important;
    }
    .login-modal .info h2 {
      font-size: 18px !important;
    }
    .register-modal .info h2 {
      font-size: 18px !important;
    }
    .reg-otp-info h3 {
      font-size: 16px !important;
    }
    .feedback-modal .review-info h2 {
      font-size: 18px !important;
    }
    .modal-conversation .modal-body .hstry-scroll {
      min-height: 200px !important;
      max-height: 200px !important;
    }
    .modal-scroll-400 {
      max-height: 500px !important;
    }
    .mn-height-530 {
      min-height: inherit !important;
    }
    .modal-scroll-600 {
      max-height: 500px !important;
    }
    .modal-scroll {
      max-height: 500px !important;
    }
    .feedback-scroll {
      max-height: 430px !important;
    }
    .mdl-bg {
      padding: 0 !important;
    }
    .registration-scroll {
      max-height: 500px !important;
    }
    .logo-box {
      padding: 3px !important;
    }
    .mb-ht {
      min-height: 300px;
    }
    .filter-events {
      margin-left: 0;
      margin-right: 0;
    }
    .sp-12 {
      padding-left: 12px;
      padding-right: 12px;
    }
    .video-gallery {
      min-height: inherit;
    }
    .form-wrapper .info {
      padding: 0 !important;
    }
    .wdth-40 {
      width: 70% !important;
    }
    .dash-main-box {
      padding: 20px !important;
    }
    .lt-gray-box {
      padding: 20px 10px 20px 20px !important;
    }
    .form-group {
      margin-bottom: 20px;
    }
    .fltr-row-5clmn,
    .fltr-row-4clmn,
    .fltr-row-3clmn {
      margin-right: 0;
      margin-left: 0;
    }
    .inhouse-croll {
      max-height: initial !important;
      overflow-x: hidden !important;
      padding-bottom: 20px;
    }
    .modal-inhouse .left-part-info {
      width: 100%;
      float: inherit !important;
      border-radius: 10px 0 0 10px;
      padding: 0;
      border-right: none !important;
    }
    .modal-inhouse .right-part-info {
      width: 100%;
      float: inherit !important;
    }
    .modal-inhouse .modal-bg {
      background-color: #fff !important;
      padding: 20px 10px 20px 20px !important;
    }
    .modal-inhouse .modal-bg .rt-content {
      padding: 0 !important;
    }
    .modal-bg {
      padding: 15px;
    }
    .mns-80 {
      margin-top: 0 !important;
    }
    .parallax {
      min-height: inherit !important;
    }
    .post-btn {
      height: 34px !important;
      line-height: 20px !important;
      margin-top: 10px;
    }
    .r-lecture {
      min-height: inherit !important;
    }
    .h-devider {
      margin: 20px 0 30px !important;
    }
    .exam-booking-box .lt-info {
      padding: 20px !important;
    }
    .exam-booking-box .rtl-info {
      padding: 20px !important;
    }
    .form-row .validation {
      position: relative !important;
    }
    .classwork-section .posted .post-info img {
      min-height: inherit !important;
      max-height: inherit !important;
    }
    .post-info img {
      min-height: inherit !important;
      max-height: inherit !important;
    }
    .popover .login-popover {
      top: inherit !important;
      left: inherit !important;
      width: 350px !important;
      margin: auto !important;
    }
    .popover .rg-popover {
      position: absolute;
      top: 50% !important;
      left: 50% !important;
      padding: 10px;
    }
    .w-h-60 {
      margin-bottom: 10px !important;
    }
    .img-mob-wdth {
      width: 100% !important;
      margin-bottom: 20px;
      padding-left: 0;
      padding-right: 0;
    }
    .recorded-lecture .lecture-video-box video {
      height: auto !important;
    }
    .filter-box {
      padding: 25px !important;
    }
    .card-ht {
      min-height: inherit !important;
      max-height: inherit !important;
      position: relative;
    }
    .card-ht .ftr-btm {
      position: inherit !important;
      width: 100% !important;
      bottom: 0 !important;
    }
    .complaint-card {
      min-height: inherit !important;
      max-height: inherit !important;
      position: inherit !important;
    }
    .request-card {
      min-height: inherit !important;
      max-height: inherit !important;
      position: inherit !important;
    }
    .request-card .ftr-btm {
      position: inherit !important;
    }
    .content-wrapper {
      display: inherit !important;
    }
    .left-aside {
      width: 100% !important;
      float: inherit !important;
      padding: 0 !important;
    }
    .content-aside {
      width: 100% !important;
      float: inherit !important;
      margin-top: 30px;
    }
    .sidebarnav .list li {
      padding: 8px 15px !important;
    }
    .complaint-card .ftr-btm {
      position: inherit !important;
      margin-bottom: 0 !important;
    }
    .btn-dtl {
      margin-bottom: 4px;
    }
    .rlty-test-report-box {
      min-height: inherit !important;
      position: relative;
      height: inherit !important;
    }
    .rlty-test-report-box .ftr-btm {
      position: inherit !important;
      bottom: inherit !important;
      left: inherit !important;
      margin-top: 15px;
    }
    .reality-booking {
      min-height: inherit !important;
    }
    .reality-booking .ftr-btm {
      position: inherit !important;
      bottom: inherit !important;
      margin: inherit !important;
      text-align: left !important;
      left: inherit !important;
      transform: inherit !important;
    }
    .dwn-load {
      margin-top: 20px;
    }
    .sidebarnav .scrollbar-use-navbar {
      min-height: inherit !important;
    }
    .global-page-scroll {
      overflow: hidden !important;
      overflow-y: hidden !important;
      overflow-x: hidden !important;
      min-height: inherit !important;
      max-height: inherit !important;
      padding-right: 0 !important;
      margin-right: 0 !important;
    }
    .global-page-scroll_1 {
      overflow: hidden !important;
      overflow-y: hidden !important;
      overflow-x: hidden !important;
      min-height: inherit !important;
      max-height: inherit !important;
      padding-right: 0 !important;
      margin-right: 0 !important;
    }
    .mn-height-640 .ftr-btm {
      position: inherit !important;
      bottom: inherit !important;
      margin: inherit !important;
      text-align: left !important;
      left: inherit !important;
      transform: inherit !important;
      margin-top: 20px !important;
    }
    .profile-info {
      margin: 15px 0 !important;
    }
    .box-info h4 {
      margin-bottom: 10px !important;
    }
    .mob-mb-20 {
      margin-bottom: 20px;
    }
    .mn-height-640 {
      min-height: inherit !important;
      max-height: inherit !important;
    }
    .mn-height-680 {
      min-height: inherit !important;
      max-height: inherit !important;
    }
    .sidebar-box {
      min-height: inherit !important;
    }
    .sidemenu-content {
      display: none;
    }
    .sidebar-box {
      padding: 15px !important;
    }
    .rw-flex {
      display: block !important;
    }
    .ft-button {
      position: inherit;
      bottom: 0;
      margin-bottom: 0;
      width: 100%;
      margin-top: 20px;
    }
    .checkout .main-box {
      margin-bottom: 20px;
      width: 100% !important;
      padding: 20px;
    }
    .checkout .main-box .check-details .card-info {
      padding-left: 0;
    }
    .checkout .main-box .promo-group {
      padding: 0;
      margin: 15px 0 0;
    }
    .checkout .terms-box {
      width: 100% !important;
      margin-left: 0;
      padding: 20px;
    }
    .check-scroll {
      min-height: inherit !important;
      max-height: inherit !important;
      overflow-y: inherit;
      padding-right: 0;
    }
    .filter-events > .col,
    .filter-events > [class*="col"] {
      padding-left: 0;
      padding-right: 0;
      margin-top: 0;
      width: 100%;
    }
    .npl-0 {
      padding-left: 0;
    }
    .rl-test-filter .wd-30 {
      width: 100%;
      margin-bottom: 10px;
      margin-right: 0;
      margin-left: 0;
    }
    .rl-test-filter .wd-10 {
      width: 100%;
    }
    .rl-test-filter .wd-10 span {
      margin-top: 0;
      margin-bottom: 15px;
    }
    .sl-text {
      font-size: 12px;
      line-height: 16px;
    }
    .logos img {
      margin-bottom: 5px;
    }
    .modal-bg .pdr-0 {
      padding-right: 15px;
    }
    .pp-modal {
      background-color: #fefaee;
      border-radius: 10px;
      padding: 15px;
    }
    .practice-pack .disc {
      display: none !important;
    }
    .practice-pack .img-area:hover img {
      transform: none !important;
    }
    .practice-pack-active {
      background-color: #fff;
      border-radius: 10px;
      cursor: pointer;
      border: solid 1px #e1ded5;
      margin-bottom: 15px;
    }
    .practice-pack-active .img-text {
      padding: 15px 15px 0;
    }
    .practice-pack-active img {
      display: none;
    }
    .practice-pack-active .duration {
      display: none;
    }
    .practice-pack-active .disc {
      background-color: transparent;
      position: initial;
      text-align: center;
      color: #000;
      padding: 0 15px 15px;
      text-align: left;
      line-height: 22px;
    }
    #flex {
      display: flex;
      flex-direction: column;
    }
    #flex > #a {
      order: 2;
    }
    #flex > #b {
      order: 1;
    }
    .modal-bg {
      background-color: #fff;
    }
    .modal-bg .pdl-0 {
      padding-left: 15px;
    }
    .modal-bg .lt-content {
      background-color: #fff;
      border-radius: 0;
      padding: 0;
    }
    .modal-bg .rt-content {
      padding: 0 0 20px;
      margin-top: 15px;
    }
    .modal-bg .rw-eql {
      display: inherit;
    }
    .modal-bg .modal-box-info {
      padding: 0;
      border-radius: 0;
      border: none;
    }
    .theme-bg {
      background-color: #fefaee;
      padding: 15px;
      border: solid 1px #ded8c6;
      border-radius: 0 0 10px 10px;
    }
    .step-footer {
      padding: 15px;
      border-top: none;
    }
    .step-app > .step-content {
      background-color: transparent;
    }
    .modal-bg .service-block .thumb .title {
      position: inherit;
    }
    .service-block .content .details {
      padding: 10px 10px 0;
    }
    .practice-pack .img-text {
      color: #212121 !important;
      text-align: left;
      padding: 15px;
    }
    .text-brake {
      display: none;
    }
    .modal-box-info {
      padding: 15px;
    }
    .modal-lg {
      margin-left: 15px;
      margin-right: 15px;
    }
    .modal-sm {
      margin-left: 15px;
      margin-right: 15px;
    }
    .modal-md {
      margin-left: 15px;
      margin-right: 15px;
    }
    .mn-spacer {
      margin-top: 20px;
    }
    .about-sub-info .disc {
      display: block;
    }
    .about-sub-info .mr-15 {
      margin-right: 0;
      padding-right: 0;
      margin-bottom: 10px;
    }
    .testimonial-bx {
      height: inherit !important;
      max-height: inherit !important;
      padding: 15px;
    }
    .video-bx {
      height: auto;
      max-height: 100%;
      padding: 15px;
      margin-top: 40px;
    }
    .font-28 {
      font-size: 22px !important;
    }
    .border-rt {
      border-right: none;
    }
    .header-middle {
      margin: 0;
      padding: 15px 0;
      border-bottom: solid 1px #dfdfdf;
    }
    .cer-info {
      padding-bottom: 30px;
      padding-top: 10px;
    }
    .ftr-devider {
      border-top: none;
      height: 1px;
      margin-top: 0;
      margin-bottom: 15px;
    }
    .about-content .mt-50 {
      margin-top: 30px !important;
    }
    .about-content {
      margin-top: -70px !important;
    }
    .footer-bottom .container {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .img-glry {
      width: fit-content;
    }
    .mb-39 {
      margin-bottom: 20px;
    }
    .no-pd-rt {
      padding-right: 0;
    }
    section > .container,
    section > .container-fluid {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .maximage-slider {
      background-image: none;
      display: contents;
    }
    .mob-display {
      display: none !important;
    }
    .menuzord-brand {
      margin: 2px 0 8px !important;
    }
    .sl-form {
      width: 90% !important;
      margin: 50px auto;
      float: none;
      right: inherit;
      position: inherit;
      top: auto;
    }
    .topFormpanel {
      background: #fff;
      padding: 10px;
      margin-bottom: 0;
      margin-top: 20px;
    }
    .highlight-colored {
      background-color: #ffd63a !important;
    }
    .ftr-mobile {
      display: none !important;
    }
    .services:hover .disc {
      margin-top: 2px;
    }
    .services {
      border: solid 1px #ebebeb;
    }
    .timing-box h2 {
      margin-bottom: 5px !important;
      font-size: 26px !important;
    }
    .timing-box-inr h2 {
      margin-bottom: 5px !important;
      font-size: 26px !important;
    }
    .funfact {
      margin-bottom: 15px;
    }
    .title-head-bar {
      text-align: center;
    }
    .sub-service-info .about-sub-info p {
      text-align: center;
    }
    .row-eq-height {
      display: block;
    }
    .qury-form-row h3 {
      font-size: 22px;
    }
    .owl-controls .owl-nav > div {
      padding: 4px 8px;
    }
    .modal-change-password .modal {
      top: 1% !important;
    }
    .qury-form-row .col-md-12 {
      width: 100%;
    }
    img {height: auto;}
  }
  @media screen and (min-width: 220px) and (max-width: 480px) {
    .fltr-row-4clmn > .col,
    .fltr-row-4clmn > [class*="col-"] {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    .fltr-row-5clmn > .col,
    .fltr-row-5clmn > [class*="col-"] {
      width: 100%;
    }
    ::-webkit-input-placeholder {
      font-size: 12px;
    }
    ::-moz-placeholder {
      font-size: 12px;
    }
    :-ms-input-placeholder {
      font-size: 12px;
    }
    :-moz-placeholder {
      font-size: 12px;
    }
    .topFormpanel .bootstrap-select > .btn {
      font-size: 12px;
    }
    textarea::placeholder {
      font-size: 12px;
    }
    .login .modal-body {
      padding: 15px !important;
    }
    .registration .modal-body {
      padding: 10px !important;
    }
    .login-modal .info {
      padding: 20px 0px !important;
    }
  }
  @media screen and (min-width: 220px) and (max-width: 991px) {
    .maximage-slider .fullscreen-controls {
      top: 15%;
    }
    .desktop-slider {
      display: none;
    }
    .mobile-slider {
      display: block;
    }
    .maximage-slider .maximage .mc-image {
      background-repeat: no-repeat;
      background-size: cover !important;
    }
    .maximage-slider .maximage {
      height: 55vh !important;
      min-height: auto;
    }
    .sl-form {
      z-index: inherit !important;
    }
    .w-subInfo ul li {
      display: block;
    }
    .classroom-info-box {
      min-height: inherit !important;
      max-height: inherit !important;
    }
    .announcement-bar ul li {
      font-size: 14px !important;
      line-height: 20px !important;
    }
    .web span {
      display: block;
    }
    .footer .social-media {
      display: flex;
      margin-top: 20px !important;
      margin-bottom: 20px !important;
    }
    .social-media ul {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }
    .footer ul li {
      margin: 0 0 3px;
    }
    .lt-news-reset {
      display: block;
      margin-top: 15px;
      position: inherit !important;
      top: inherit !important;
      text-align: center;
    }
    /* .bootstrap-select .dropdown-menu.inner{max-height:100px!important;} */

    .details a {
      display: block !important;
    }
    article {
      height: 100% !important;
    }
    .panel-body img.col-md-5 {
      padding-right: 0px;
    }
    .sidebarnav .scrollbar {
      border-top: solid 1px #dadada;
    }
    .counselling-booking-box .left-info-sec::after {
      display: none;
    }
    .ft-right {
      width: auto;
    }

    body.modal-open {
      width: 100% !important;
      padding-right: 0px !important;
      position: fixed !important;
    }
    .left-info-sec .logo-section .font-18 {
      font-size: 16px !important;
    }
    .right-info-sec .row.mb-20 {
      margin-bottom: 0px !important;
    }
    .registration .modal-body {
      overflow-y: auto;
    }
    .register-modal .info {
      padding: 10px 5px 20px 10px !important;
    }
    .register-modal .bootstrap-select.btn-group .dropdown-menu.inner {
      max-height: 165px !important;
    }
    .announcement-box marquee ul li {
      font-size: 12px !important;
    }
    .announcement-box marquee ul li a {
      font-size: 12px !important;
    }
    .vd-border .owl-controls .owl-nav > div {
      padding: 0px 5px;
    }
    .vd-border .owl-controls .owl-prev i {
      font-size: 24px;
      line-height: 26px;
    }
    .vd-border .owl-controls .owl-next i {
      font-size: 24px;
      line-height: 26px;
    }
    .rt-services .img-area img {
      width: 100%;
      min-height: inherit;
      max-height: 300px;
    }
  }
  /* new code added by surinder */
.small-mobile-slider {
    display: none;
  }
  @media screen and (min-width: 220px) and (max-width: 415px) {
    /* .step-footer{min-height: 75px;} */
    .event-booking .timeslot-card-row .card {
      min-width: 140px !important;
      max-width: 140px !important;
    }

    /* new code added by surinder */
    .desktop-slider {
      display: none;
    }
    /* .mobile-slider {
      display: none;
    } */
    .small-mobile-slider {
      display: block;
      width: 100%;
    }
  }
  @media screen and (min-width: 220px) and (max-width: 1023px) {
    .mob-display-none {
      display: none;
    }
  }

  @media only screen and (max-device-width: 1024px) and (orientation: landscape) {
    .menu-item-has-children > .sub-menu > .submenu-scroll {
      overflow-y: visible !important;
    }
    .w-header .desk-menu .header-container .menu {
      max-height: 180px;
      overflow-y: scroll !important;
    }
    .w-header
      .desk-menu
      .header-container
      .menu
      > li.menu-item-has-children
      .sub-menu.open-sub {
      max-height: 180px;
      overflow-y: scroll !important;
      overflow-x: hidden !important;
    }
    .register-modal {
      max-height: 220px !important;
      overflow-y: auto;
    }
    .login .modal-body {
      max-height: 250px !important;
      overflow-y: auto;
    }
    .w-header
      .desk-menu
      .header-container
      .menu
      > li.menu-item-has-children
      .sub-menu
      .sub-menu {
      top: 0px;
    }

    /* .cd-primary-nav{max-height:200px; overflow-y: scroll!important;} */
  }
  @media screen and (max-width: 3840px) and (min-width: 991px){
.no-lg-display {
    display: none!important;
}

@media screen and (min-width: 990px) and (max-width: 5480px){
.no-lg-display {
    display: none;
}