
	.form-group-icon {
	position: absolute;
	top: 4px;
	right: 3px;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: none;
}

	.valid-validation {
	position: absolute;
	z-index: 5;
	font-size: 10px!important;
	line-height: 11px!important;
	color: #ff1f14;
	word-break: break-all;
	margin-top: 4px;
	padding-right: 15px;
}
	
.events-form-box {
	/* background: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 3px 3px rgb(0 0 0 / 10%);
	padding: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid 1px #e9e9e9; */
}

.event-booking h2 {
	font-size: 28px;
}

.sub-events-form-box {
	background: #f7f7f7;
	border-radius: 10px;
	box-shadow: 0px 0px 3px 3px rgb(0 0 0 / 6%);
	padding:25px;
/*	margin-top: 10px;*/
	margin-bottom: 10px;
	border: solid 1px #e9e9e9;
}

.event-booking .time-slot {
	display: inline;
	margin-bottom: 10px;
}

.event-booking .tm-slot-sp {
	margin-left: 2px;
	margin-right: 2px;
	opacity: 0.2;
}

.event-booking .tm-slot-row {
	display: flex;
	margin-left: 0px;
	margin-right: 0px;
}

.event-booking .tm-slot-row>.col-md-2,.tm-slot-row>[class*="col-md-2"] {
	padding-right: 9px;
	padding-left: 9px;
	width: 155px;
	margin: 0px 0px 5px 0px;
}

.event-booking .time-slot input[type=radio] {
	display: none;
	margin: 10px;
}

.event-booking .time-slot input[type=radio] + label {
	display: inline-block;
	width: 100%;
	padding: 12px 0px;
	margin-bottom: 0px;
	border-radius: 6px;
	-moz-box-shadow: 0px 0px 4px #a9a9a9;
    -webkit-box-shadow: 0px 0px 4px #a9a9a9;
    box-shadow: 0px 0px 4px #a9a9a9;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	transition: 0.5s;

}

.event-booking .time-slot input[type=radio] + label:hover {
	-moz-box-shadow: 0px 0px 5px #919191;
    -webkit-box-shadow: 0px 0px 5px #919191;
    box-shadow: 0px 0px 5px #919191;
	/* transform: scale(1.1); */
}

.event-booking .time-slot input[type=radio]:checked + label {
	background-image: none;
	background-color:#073255;
	color: #fff;
}

.event-booking .full-time-slot {
	padding: 0px;
	margin-bottom: 5px;
}

.event-booking .full-time-slot input[type=radio] {
	display: none;
	margin: 10px;
}

.event-booking .full-time-slot input[type=radio]:checked + label {
	background-image: none;
	background-color: #fff;
	color: #000;
	cursor: not-allowed;
}

.event-booking .timeslot-box {
	background: #fff;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 4px #a9a9a9;
    -webkit-box-shadow: 0px 0px 4px #a9a9a9;
    box-shadow: 0px 0px 4px #a9a9a9;
	padding: 25px 20px 20px 20px;
	margin-top: 10px;
	border: solid 1px #e9e9e9;
}

.event-booking .timeslot-card-row {
	/* text-align: -webkit-center!important; */
	justify-content:left!important;
	display:block;
	justify-content:left!important;
	flex-wrap: wrap;
	align-items:left!important;
	margin-left: 0px;
	margin-right: 0px;
}

.event-booking .book-title{font-size:16px; font-weight: 500; margin-bottom:8px;line-height: 22px;}

.evnt-btn{text-align: right;}

.event-booking .timeslot-card-row .card {
	margin-top: 5px;
	text-align: center;
	min-width:150px;
	width: 170px!important;
	background-color: transparent;
	margin:2px 16px 2px 0px;
}

.text-grey{line-height: 18px;}

.event-booking .timeslot-card-row .card:last-child{
	margin-right: 0px!important;
}

.event-booking .timeslot-card-row .card .time-slot {
	margin-bottom: 5px;
	margin-top: 5px;
}

.event-booking .timeslot-card-row .card .time-slot input[type=radio] + label {
	display: inline-block;
	width: 100%;
	padding:15px 8px 15px 8px;
    /* margin-top: 5px; */
	margin-bottom: 0px;
	border-radius: 6px;
	-moz-box-shadow: 0px 0px 3px #a9a9a9;
    -webkit-box-shadow: 0px 0px 3px #a9a9a9;
    box-shadow: 0px 0px 3px #a9a9a9;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	transition: 0.5s;
	/* border: solid 1px #ededed; */
	min-height:220px;
	max-height:220px;
}

.event-booking .timeslot-card-row .card .time-slot input[type=radio] + label:hover {
	-moz-box-shadow: 0px 0px 5px #919191;
    -webkit-box-shadow: 0px 0px 5px #919191;
    box-shadow: 0px 0px 5px #919191;
	transform: none;
}

.event-booking .form-group{margin-bottom: 25px;}
.event-booking .form-group label{margin-bottom: 5px;}
.event-booking .timeslot-card-row .card h2 {
	font-size: 20px!important;
	font-weight: 600;
	color: inherit;
	line-height: 30px;
	margin-top:0px!important;
	margin-bottom: 15px;
	padding-bottom: 10px!important;
	border-bottom:solid 2px rgb(140 140 140 / 20%);
}

.event-booking .timeslot-card-row .card h2 p{margin-top: 5px; margin-bottom: 5px;}

.event-booking .timeslot-card-row .card .info {
	font-size: 14px;
	line-height:22px;
	margin-top: inherit;
	margin-bottom: inherit;
}

.event-booking .timeslot-card-row .card .info .disc {
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight:600;
	margin-top: 5px;
}

.event-booking .timeslot-card-row .card .sltd {
	background-color: #073255;
	color: #fff;
}

.event-booking .wht-st {
	background-color: #fff;
}

.event-booking .sltd {
	background-color: #41c885;
	color: #fff;
}

/* .event-booking .avlbl {
	background-color: #073255;
	color: #fff;
} */

.event-booking .lmtd-seat {
	background-color: #fefaee;
	color: #000;
}

.event-booking .slt-full {
	background-color: #e6e6e6;
	color: #ababab;
}

.event-booking .filling-fast {
	background-color: #d2feda;
	color: #000;
}

.event-booking button, input, select, textarea {
	line-height: initial;
}

.event-booking .img-f-full {
	width: 100%!important;
	-o-object-fit: contain;
	-o-object-fit: contain;
	object-position: 50% 50%;
	min-height: 550px;
	max-height: 600px;
}

.event-booking .time-card-wrapper {
	display: flex;
	justify-content: center;
	align-content: center;
}

.event-booking .time-card-wrapper .time-card-box {

	width: 100%;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

.event-booking .time-card {
	display:flow-root;
	align-items: center;
	justify-content: center;
	min-width:150px!important;
	margin-bottom:15px;
}

.time-card-box{margin-right:15px!important;}
.time-card-box:last-child {margin-right: 0px!important;}

.event-booking .time-card .tm-info{	font-size: 15px;font-weight: 500;}

.time-slot-row{
    display: block; 
	margin-left: -7px;
	margin-right: -7px;
	margin-bottom: 20px;
	
}

.time-slot-row [class*="col-"] {
	padding-right:8px;
    padding-left:8px;
}



.event-booking .time-card .time-slot {
	display: inline;
	margin-bottom: 5px;
	margin-top: 5px;
}

.event-booking .time-card .time-slot input[type=radio] + label {
	display: inline-block;
	padding:10px 10px;
	font-size: 13px;
	font-weight: 400;
}


.event-booking .date-and-time-wrapper{
	padding: 0px;
	margin: 0px;
	display: flex;
	position: relative;
}


.event-booking .date-and-time-wrapper .title{
	margin-bottom: 15px;
	border-bottom:solid 1px #dedede;
	padding-bottom: 5px;
	margin-bottom:20px;
}

.event-booking .date-and-time-wrapper .date-part{
	width:48.5%;
	float: left;
	background: #fff;
    border-radius: 10px;
	-moz-box-shadow: 0px 0px 3px #a9a9a9;
    -webkit-box-shadow: 0px 0px 3px #a9a9a9;
    box-shadow: 0px 0px 3px #a9a9a9;
    padding: 20px 25px 20px 20px;
    margin-top: 10px;
    border: solid 1px #e9e9e9;
}


.event-booking .date-and-time-wrapper .time-part{
	width:48.5%;
	float:right;
	margin-left:3%;
	    background: #fff;
    border-radius: 10px;
	-moz-box-shadow: 0px 0px 3px #a9a9a9;
    -webkit-box-shadow: 0px 0px 3px #a9a9a9;
    box-shadow: 0px 0px 3px #a9a9a9;
    padding: 20px 25px 20px 20px;
    margin-top: 10px;
    border: solid 1px #e9e9e9;
}


.event-booking .btn-lt {
	color: #000;
	background-color: #fedcdb;
	border-color: #fed6d5;
	transition: 0.5s;
}

.event-booking .btn-lt:hover {
	color: #000;
	text-decoration: none;
	border-color: #fed6d5;
	background-color: #fed6d5;
}

.event-booking .btn-lt:focus {
	color: #000;
}

.input-rel:focus, form input[type="tel"]:focus{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;outline: none;
	border-color: transparent; border-left: solid 1px #e5e5e5;}

.text-limit div.readmore-btn{
	color: #ffffff!important;
    cursor: pointer;
    display: block;
    background-color: #d72a22;
    width: fit-content;
    padding:4px 10px;
    border-radius: 4px;
    font-size: 12px;
	cursor: pointer;
	margin-top: 10px;
  }

.ft-stp{position: absolute; bottom:20px;}

.text-limit p span{font-weight: 400!important;}

.input-rel .bootstrap-select>.dropdown-toggle{font-weight:500;}

@media screen and (min-width:220px) and (max-width:992px) {
	
	.event-booking .date-and-time-wrapper{
	display:inherit;
}
	
	.event-booking .date-and-time-wrapper .date-part{
		width:100%;
	}
	
	.event-booking .date-and-time-wrapper .time-part{
			width:100%;
		margin-top: 20px;
	}

	.time-slot-row{margin-left: -15px; margin-right: -15px; display: flow-root;}
	.time-slot-row [class*="col-"]{padding-right: 15px;	padding-left: 15px;}
	.left-info-sec .info-section .details{padding-bottom: 20px!important;}
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{position: inherit!important;}

	.ft-step{padding-top: 0px;width: 100%;}
	.book-visa-counselling .step-app > .step-content{padding-bottom: 0px;display: block;}
	.ft-step{position: inherit;}
	.book-visa-counselling .step-tab-panel{padding-bottom: 15px;}
	.ft-stp{bottom: 0px; position:initial;}

	.glider{margin-bottom: 15px;padding-bottom: 10px;}
	.evnt-btn{height: 0px;}


}

@media screen and (min-width:220px) and (max-width:370px) {
	.event-booking .timeslot-card-row .card{min-width:143px!important;}
}


@media screen and (min-width:220px) and (max-width:600px) {	.time-slot-row [class*="col-"]{width:50%;float: left;}}
@media screen and (min-width:601px) and (max-width:768px) {	.time-slot-row [class*="col-"]{width:33%;float: left;}}
@media screen and (min-width:769px) and (max-width:990px) {	.time-slot-row [class*="col-"]{width:25%;float: left;}}

@media screen and (min-width:390px) and (max-width:400px) {
	.event-booking .timeslot-card-row .card{min-width:153px!important;width:153px!important;}
}



@media screen and (min-width:992px) and (max-width:1200px) {
.event-booking .time-card {	width:auto!important;min-width:auto!important;}
.event-booking .timeslot-card-row .card{ min-width:135px;width: 135px!important;}

}


