
.scroll-v::-webkit-scrollbar-track {border-radius: 20px;background-color: transparent;}
.scroll-v::-webkit-scrollbar {height:3px;width:3px;background-color: transparent;}
.scroll-v::-webkit-scrollbar-thumb {border-radius:30px;background-color: #AFAFAF;}
.scroll-v::-webkit-scrollbar-thumb:hover {background-color: #666;}

.menu-item-has-children > .sub-menu > .submenu-scroll { max-height: calc( 100vh -25vh);height: calc( 100vh - 25vh);}
.submenu-scroll {overflow-y: scroll; max-height:80vh; scrollbar-visibility: hidden; margin-right: 2px;}



body.menu-fixed, .open-menu {position: fixed;width: 100%;padding: 0px!important;margin: 0px!important;overflow-y: scroll;}
body.modal-open + .modal-open{overflow: hidden;padding: 0px!important;}

.qury-form-row h3{font-size: 20px!important;}
.s-icn{width:30px;height:30px;line-height:30px!important;text-align: center;border-radius:6px;margin-right:15px; color: #FFFFFF!important; margin-left: 10px; font-size: 16px;}
.s-icn.facebook{background-color: #3b5999;}
.s-icn.twitter{background-color: #56d5fe;}
.s-icn.instagram{background-color: #e82b7d;}
.s-icn.y-tb{background-color: #ef282c;}
.s-icn.tik{background-color: #010101;}
.sub-menu .social-media > div a{padding:10px 10px 10px!important;transition: 0.5s;}
.sub-menu .social-media > div a:hover{color: #d72a22!important;}
@media (min-width: 1200px){
.w-container{width: 1170px;}
.w-menu-container{width: 1170px!important;padding: 0px!important;margin: auto;}}
.w-menu-container{align-items: center;display: flex;left: 0;padding: 0 52px!important;position: relative;right: 0;transition: .3s ease;width: 100%!important;}
.wosa-header{position: relative;-moz-box-shadow: 0px 0px 8px #a9a9a9;-webkit-box-shadow: 0px 0px 8px #a9a9a9;box-shadow: 0px 0px 8px #a9a9a9;z-index: 1;}
.top-hdr{background-color: #073255;padding:1px;display: flex;}
.top-hdr .lt-news{float: left;width:80%;letter-spacing: 2px;padding-left: 21%;}
.top-hdr .rt-btns{float: right;width:20%;}.top-hdr .rt-btns ul{padding: 0px;margin: 0px;text-align: right;}
.top-hdr .rt-btns ul li{padding: 0px;margin: 0px 0px 0px 20px;display: inline;text-transform: uppercase;line-height: 20px;letter-spacing: 2px;font-size: 12px;}
.top-hdr .rt-btns ul li a{color: rgba(255, 255, 255, 1);font-weight: 500;transition: 0.3s;}
.top-hdr .rt-btns ul li a:hover{color: rgba(255, 255, 255, 0.6);}
.w-header .desk-menu .rts-btn {float: right;}
.w-header .desk-menu .rts-btn ul .enq-btn{margin-top:12px;}
.w-header .desk-menu .rts-btn ul li.enq-btn a{color: #fff;font-weight: 500;letter-spacing: 2px;text-transform: uppercase;}
.w-header .desk-menu .rts-btn ul li.enq-btn{transform: translate(0%, 0%);cursor: pointer;border:solid 1px #d72a22;padding:5px 25px;background-color: #d72a22;color: #fff;transition: 500ms ease all;border-radius: 30px; line-height: 24px;}
.w-header .desk-menu .rts-btn ul li.enq-btn:before {content: '';position: absolute;top: -1%;right: 100%;width:5px;height:110%;background: rgba(255, 255, 255, .2);transform: rotate(15deg);}
.w-header .desk-menu .rts-btn ul li.enq-btn:hover {background: #d72a22;}
.w-header .desk-menu .rts-btn ul li.enq-btn:hover:before {right: -3%;transition: 1s ease all;}

.w-header .desk-menu ul li.mob-enq-btn{transform: translate(0%, 0%);cursor: pointer;border:solid 1px #073255;padding:5px 25px;background-color: #fff;color: #073255;border-radius: 30px; line-height:30px;width:70%!important;
 margin: auto!important;float: none!important;}
.w-header .desk-menu ul li.mob-enq-btn a{padding:0px!important;border-bottom:none!important; text-align: center!important; color: #073255!important;line-height:30px!important; letter-spacing: 2px;text-transform: uppercase!important;}
@media (max-width:990px) {
.top-hdr .lt-news{float:inherit;width:100%;margin-left: 0px;padding:0px 0px;}
.top-hdr .rt-btns{float:inherit;width:100%;}
.top-hdr .rt-btns ul{text-align: center;}
.w-menu-container{padding: 0px 15px!important;}
.news-line span {line-height:18px;}
.top-hdr .w-menu-container {flex-wrap: wrap;}
.top-hdr .rt-btns {padding:5px 0 6px 0;}
}

.news-headline {overflow: hidden; font-size:12px;display: list-item; height: 26px; line-height: 26px;}
.news-headline span{margin:5px 0px; line-height: 23px;}
.news-headline span a{color: #fff;}
.news-headline span a span.date {font-style: italic;font-weight: bold;font-size: .70rem;margin-left: 10px; color: #fff;}
.news-headline span.spacer{color: rgb(255,255,255, 0.3); margin: 0px 15px;}
.js-marquee{margin-right: 0px!important;}
#cd-primary-nav > li > a.menu-active + .sub-menu{display: block;}
.remove-active .sub-menu{display: none!important;}
.remove-active a.menu-active + .sub-menu{display: block!important;}
.remove-active.sub-active .sub-menu{display: block!important;}
.menu-active + .sub-menu {left: -0px;}
@keyframes myfirst {0% {left: -15px;}100% {left: 0px;}}
body.open-menu > .over-menu {visibility: visible;opacity: 1;}
body.open-menu .header-container {right: 0 !important;}a {text-decoration: none !important;outline: none;}
.hidden {display: none;}
.w-header{background-color:#fff;width: 100%;padding: 0px; display:-webkit-box;}
.w-header::before {background: #fff;position: absolute;width: 100%;content: '';top: 0;right: 0;height: 0;}
.w-header .desk-menu {width: 100%;margin: 0px 0px; padding: 10px 0px;}
.w-header .desk-menu .logo {float: left;margin-right: 3%;}
.w-header .desk-menu .box-menu {transition: all 0.5s;position: relative;display: contents;margin: 0 auto;text-align: center;}
.w-header .desk-menu .header-container {float: left;}
.w-header .desk-menu .header-container .menu {float: left;padding: 0;margin:20px 0px 0px 0px !important;list-style: none;}
.w-header .desk-menu .header-container .menu li.back {display: none;}
.w-header .desk-menu .header-container .menu > li {margin: 0px 5px 0px 5px;float: left;cursor: pointer;overflow: inherit;}
.w-header .desk-menu .header-container .menu > li:active.menu-item-has-children .sub-menu{display: block;}
ul.sub-menu{padding: 0px;margin: 0px;}
.menu-active{display: block;}
.w-header .desk-menu .header-container .menu > li a {position: relative;text-transform:capitalize;font-size:15px;padding:0px 0px 0px;display: block!important;color: #000;line-height: 18px;font-weight:500;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children > a {padding: 0px 25px 0px 8px;position: relative;line-height:18px;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children > a::before,
.w-header .desk-menu .header-container .menu > li.menu-item-has-children > a::after {-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;background-color: #4e4e4e;position: absolute;content: '';height: 1px;width: 7px;top:9px;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children > a::before {-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);right: 10px;}

.w-header .desk-menu .header-container .menu > li.menu-item-has-children > a::after { -webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);right: 6px;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu {border-top: solid 1px #ccc;border-right: solid 1px #ccc;-webkit-overflow-scrolling: touch;min-width:300px;position:absolute;list-style: none;background: #fff;padding: 0;width:340px;float: left;display: none;height: 100vh;padding:0px 0px 0px 0px;top:80px;z-index: 100;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu li {width: 100%;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu li > a {color: #000;padding:15px 12px 15px 52px;transition: .4s;text-transform: capitalize;display: flex; line-height: 26px;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover > .sub-menu li > a{padding:15px 12px 15px 20px;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu li > a img{width: 25px;height: 25px;margin-right: 15px;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu li .sub-menu {display: none; overflow: hidden;}
.w-header.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before,
.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;
	background-color: #4e4e4e;position: absolute;content: '';height: 1px;width: 7px;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {transform: rotate(45deg);right:20px;top:25px;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {transform: rotate(-45deg);right:20px;top:29px;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover > .sub-menu {display: block!important;border-left:1px solid #dcdee6!important;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children .sub-menu li.menu-item-has-children > .sub-menu{background-color: #fefaee;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children .sub-menu li.menu-item-has-children:hover > .sub-menu{background-color: #fefaee;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu li:hover > a {color: #d72a22;background-color: #fefaee;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu li:hover > a::before {-webkit-transform: rotate(142deg);-moz-transform: rotate(142deg);-ms-transform: rotate(142deg);-o-transform: rotate(142deg);transform: rotate(142deg);top:29px;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu li:hover > a::after {-webkit-transform: rotate(42deg);-moz-transform: rotate(42deg);-ms-transform: rotate(42deg);-o-transform: rotate(42deg);transform: rotate(42deg);right: 15px;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu .sub-menu {left: 100%;margin-top: 0px;top:-1px;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children a {text-align: left;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children a:hover {margin-top: 0;}
.w-header .desk-menu .header-container .menu > li.line {position: absolute;top: 0px;left: 0;height: 0px;pointer-events: none;border: 1px solid #d72a22;background: #d72a22;opacity: 0;display: block;}.w-header .desk-menu .header-container .menu > li:hover > a {color: #d72a22;}
.w-header .desk-menu .header-container .menu > li.click-active:hover > a::before {-webkit-transform: translateX(5px) rotate(-45deg);-moz-transform: translateX(5px) rotate(-45deg);-ms-transform: translateX(5px) rotate(-45deg);-o-transform: translateX(5px) rotate(-45deg);transform: translateX(5px) rotate(40deg);width: 7px;right: 7px;}
.w-header .desk-menu .header-container .menu > li.click-active:hover > a::after {-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(138deg);width: 7px;right: 7px;}
.w-header .desk-menu .header-container .menu > li:hover.menu-item-has-children .sub-menu {display: none;transform: translateY(0px);}
.w-header .hamburger-menu {display: none;}
.w-header.small::before {box-shadow: 0px 5px 25px 0 rgba(46, 61, 73, .2);height: 100%;}
.w-header.small .desk-menu .header-container .menu > li.menu-item-has-children > a::before,
.w-header.small .desk-menu .header-container .menu > li.menu-item-has-children > a::after {background-color: #4e4e4e;}



@media (max-width:990px) {
	.s-icn{margin-left:0px;}
	.w-header .desk-menu .header-container .menu > li.menu-item-has-children .back a {padding: 6px 20px 6px 30px!important;margin-top: 2px;margin-bottom: 5px;}
	.modal-open #modal-register.modal {height: 100vh;z-index: 99999999999;}
	/* ul.sub-menu.open-sub {overflow: scroll;height:90vh!important;overflow-x: hidden;} */
	.logn-btn{background-color:#fff;margin-left:18px;margin-right:18px;border-radius:30px;margin-top: 30px;text-align: center; border:solid 1px #d1d1d1;}
	.logn-btn a{color:#d72a22!important; text-transform: uppercase!important;padding:12px 20px!important;letter-spacing: 2px; border-bottom:none!important;line-height: inherit!important;}
	.crt-btn{background-color:#073255;margin-left:18px;margin-right:18px;border-radius:30px;margin-top: 30px;text-align: center;}
	.crt-btn a{color: #fff!important; text-transform: uppercase!important;padding:12px 20px!important;letter-spacing: 2px; border-bottom:none!important;line-height: inherit!important;}
	.w-menu-container{padding:10px 15px}
	.w-header .desk-menu .logo {float:inherit!important;margin-right:0px;margin-top:0px;z-index: 10000;}
	.w-header .desk-menu .box-menu{text-align: left!important;display: flex;justify-content: space-between;}
	.w-container{width: 100%;padding-left: 15px;padding-right: 15px;}
	.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover > .sub-menu{border-left: 0px!important;}
	.w-header {position: relative;}
	.w-header .desk-menu{width: 100%;position: inherit!important;}
	.w-header .hamburger-menu {display: block;position: absolute;top:5px;bottom: 0;margin: auto;cursor: pointer;right:0px;z-index: 1000;}
	.w-header .hamburger-menu span {text-transform: uppercase;left: calc(-100% + -5px);padding: 8px 9px 8px 0;top: calc(50% - 18px);position: absolute;font-size: 13px;color: #fff;}
	.w-header .hamburger-menu .bar, .w-header .hamburger-menu .bar::after, .w-header .hamburger-menu .bar::before {width:27px;height:2px;}
	.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu{width:-webkit-fill-available!important;}
	.w-header .hamburger-menu .bar {position: relative;-webkit-transform: translateY(25px);-moz-transform: translateY(25px);-ms-transform: translateY(25px);-o-transform: translateY(25px);transform: translateY(25px);-webkit-transition: all 0.1s ease;-moz-transition: all 0.1s ease;-ms-transition: all 0.1s ease;-o-transition: all 0.1s ease;transition: all 0.1s ease;background: #000;}
	.w-header .hamburger-menu .bar::before, .w-header .hamburger-menu .bar::after {position: absolute;background: #000;content: '';left: 0;border-radius: 5px;}
	.w-header .hamburger-menu .bar::before {bottom:8px;-webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);-moz-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);-ms-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);-o-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);}

	.w-header .hamburger-menu .bar::after {top:8px;-webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);-moz-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);-ms-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);-o-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);}

	.w-header .hamburger-menu .bar.animate {background: rgba(255, 255, 255, 0);}
	.w-header .hamburger-menu .bar.animate::after {top: 0;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);-webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);-moz-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);-ms-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);-o-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);}

	.w-header .hamburger-menu .bar.animate::before {bottom: 0;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);-webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);-moz-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);-ms-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);-o-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);}

	.w-header .desk-menu .box-menu ul li a {border-bottom: 1px solid #eaeaea;}
	.w-header .desk-menu .header-container {background: #fff;position: fixed;height: 100%;right: -1550px;width: 100%;z-index: 1000;}.w-header .desk-menu .header-container .menu-header-container {position: relative;float: left;width: 100%;}

	/* .w-header .desk-menu .header-container .menu-header-container ul {} */
	.w-header .desk-menu .header-container .menu {margin:80px 0px 0px 0px !important;width: 100%;}
	.w-header .desk-menu .header-container .menu li.back {position: relative;display: block;}

	.w-header .desk-menu .header-container .menu li.back a {padding:5px 10px 5px 25px!important; margin-left: 20px;background-color:#fff;display: inline-block!important; border-radius: 4px; font-size: 13px; border:solid 1px #e9e9e9;}
	.w-header .desk-menu .header-container .menu li.back a::before,
	.w-header .desk-menu .header-container .menu li.back a::after {background-color: #4e4e4e;position: absolute;content: '';height: 2px;width: 7px;top: 23px;}

	.w-header .desk-menu .header-container .menu li.back a::before {-webkit-transform: rotate(-45deg) !important;-moz-transform: rotate(-45deg) !important;-ms-transform: rotate(-45deg) !important;-o-transform: rotate(-45deg) !important;transform: rotate(-45deg) !important;top: 16px !important;right: inherit !important;left:15px !important;}

	.w-header .desk-menu .header-container .menu li.back a::after {-webkit-transform: rotate(45deg) !important;-moz-transform: rotate(45deg) !important;-ms-transform: rotate(45deg) !important;-o-transform: rotate(45deg) !important;transform: rotate(45deg) !important;top: 20px !important;left:15px !important;}

	.w-header .desk-menu .header-container .menu li.line {display: none !important;}
	.w-header .desk-menu .header-container .menu > li {width: 100%;float: left;margin: 0;text-align: left;line-height:24px;font-size: 14px!important;}
	.w-header .desk-menu .header-container .menu > li a {padding:20px 20px;color: #000;font-size: 14px!important;font-weight: 600;}
	.w-header .desk-menu .header-container .menu > li.menu-item-has-children {position: initial;}
	.w-header .desk-menu .header-container .menu > li.menu-item-has-children a {padding:20px 18px!important;font-size: 14px!important;}
	.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu li > a {padding: 18px 18px; line-height: 26px;font-size: 14px!important;}

	.w-header .desk-menu .header-container .menu > li.menu-item-has-children a::before,
	.w-header .desk-menu .header-container .menu > li.menu-item-has-children a::after {background: #4e4e4e;}
	.w-header .desk-menu .header-container .menu > li.menu-item-has-children a::before {right:20px !important;top:28px;width: 7px !important;}
	.w-header .desk-menu .header-container .menu > li.menu-item-has-children a::after {top:32px;width: 7px !important;right:20px !important;}

	.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu {box-shadow: none;display: block !important;background: #fff;z-index: 1;left: 100%;height: 100vh;border-top: none;border-right: none;}

	.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu .sub-menu {margin-top: 0;}
	.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu.open-sub {left: 0%;}
	.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {-webkit-transform: rotate(45deg) !important;-moz-transform: rotate(45deg) !important;-ms-transform: rotate(45deg) !important;-o-transform: rotate(45deg) !important;transform: rotate(45deg) !important;right:20px !important;top:30px !important;width: 7px !important;}

	.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {-webkit-transform: rotate(-45deg) !important;-moz-transform: rotate(-45deg) !important;-ms-transform: rotate(-45deg) !important;-o-transform: rotate(-45deg) !important;transform: rotate(-45deg) !important;right:20px !important;top:34px !important;width: 7px !important;}

	.w-header .desk-menu .header-container .menu > li:hover a:before {-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);right:20px;top:31px;}

	.w-header .desk-menu .header-container .menu > li:hover a::after {-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);right:20px;top:35px;}

	.w-header .desk-menu .header-container .menu-head {display: block;}
	.w-header .desk-menu .header-container .menu-foot {display: block;}
	.w-header.small .hamburger-menu {top: 31px;}.w-header.small .hamburger-menu span {color: #4e4e4e;}
	.w-header.small .hamburger-menu .bar {background: #4e4e4e;}.w-header.small .hamburger-menu .bar::before,
	.w-header.small .hamburger-menu .bar::after {background: #4e4e4e;}
	.w-header.small .hamburger-menu .bar.animate {background: rgba(255, 255, 255, 0);}

	.w-header .desk-menu .header-container .menu > li.menu-item a{font-size:15px!important;}

}
@media screen and (min-width:220px) and (max-width:600px) {.logo img{width:90%!important;}}

@media screen and (min-width:990px) and (max-width:1100px) {
	.w-header .desk-menu .logo{margin-right: 1%;}
	.w-header .desk-menu .header-container .menu > li a{font-size:13px;padding: 0px 5px 0px;}
	.w-header .desk-menu .header-container .menu > li.menu-item-has-children > a{padding:0px 20px 0px 5px;}
	.w-menu-container{padding: 0px 20px!important;}
	.w-header .desk-menu .header-container .menu > li{margin-right: 0px;}
	.w-header .desk-menu .logo img{height: 50px;}
	.w-header .desk-menu .rts-btn ul li.enq-btn{padding: 5px 15px;}
	.w-header .desk-menu .rts-btn ul li.enq-btn a{font-size: 12px;}
	.w-header .desk-menu .rts-btn ul .enq-btn{margin-top:7px;}
	.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu{top:70px;}
}

@media screen and (min-width:1101px) and (max-width:1200px) {
	.w-header .desk-menu .logo{margin-right: 1%;}
	.w-header .desk-menu .header-container .menu > li a{font-size: 13px;}
	.w-header .desk-menu .header-container .menu > li.menu-item-has-children > a{padding:0px 20px 0px 5px;}
	.w-menu-container{padding: 0px 20px!important;}
	.w-header .desk-menu .header-container .menu > li{margin-right: 0px;}
	.w-header .desk-menu .logo img{height: 50px;}
	.w-header .desk-menu .rts-btn ul .enq-btn{margin-top:7px;}
	.w-header .desk-menu .rts-btn ul li.enq-btn{padding: 5px 20px;}
	.w-header .desk-menu .rts-btn ul li.enq-btn a{font-size: 13px;}
	.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu {top:70px;}
}


@media screen and (min-width:1201px) and (max-width:1300px) {
	.w-header .desk-menu .logo {margin-right: 2%;}
	.w-header .desk-menu .header-container .menu > li a{font-size: 14px!important;}
	.w-header .desk-menu .header-container .menu > li.menu-item-has-children > a{padding:0px 20px 0px 5px;}
	.w-menu-container{padding: 0px 20px!important;}
	.w-header .desk-menu .header-container .menu > li{margin-right: 0px;}
	.w-header .desk-menu .logo img{height: 50px;}
	.w-header .desk-menu .rts-btn ul li.enq-btn{padding: 5px 25px;}
	.w-header .desk-menu .rts-btn ul .enq-btn{margin-top:7px;}
	.w-header .desk-menu .rts-btn ul li.enq-btn a{font-size: 14px;}
	.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu{top: 70px;}
}


@media screen and (min-width:1801px) and (max-width:3500px) {
/*	.container{width: 1750px!important;}*/
	.w-menu-container{padding: 0px 0px!important; width: 1650px!important; margin: auto!important;}
	.w-menu-container{position: static;}
	.w-header{position: relative;}
	.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu{top:91px;}
	.top-hdr .lt-news{padding-left: 16%;}
	.top-hdr .rt-btns ul li{font-size:0.90rem!important;}
	.news-headline span{font-size:0.90rem;}
	.w-header .desk-menu .header-container .menu > li{margin: 0px 15px 0px 5px;}
	.w-header .desk-menu .header-container .menu > li a{font-size: 1.1rem;}
	.w-header .desk-menu .header-container .menu > li.menu-item-has-children > a{padding:0px 25px 0px 5px;}
	.top-scroll a{font-size:1rem!important;}
.w-header .desk-menu .rts-btn ul li.enq-btn a{font-size:1rem!important;}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu{margin-top:-11px!important;width: 400px!important}
.w-header .desk-menu .header-container .menu > li.menu-item-has-children .sub-menu .sub-menu{margin-top:0px!important;}

}




/* @media only screen and (max-height:400px) and (orientation: landscape) {
	#cd-primary-nav {max-height:80vh; overflow-y: scroll;}
	} */